linkify-it-py    
markdown-it-py    
mdit-py-plugins   
mdurl             
pip              
platformdirs     
Pygments          
rich              
textual           
typing_extensions 
uc-micro-py     
